assets/libs/ace-builds/*
!assets/libs/ace-builds/src-min-noconflict/ace.js
!assets/libs/ace-builds/src-min-noconflict/ext-language_tools.js
!assets/libs/ace-builds/src-min-noconflict/ext-themelist.js
!assets/libs/ace-builds/src-min-noconflict/mode-c_cpp.js
!assets/libs/ace-builds/src-min-noconflict/mode-erlang.js
!assets/libs/ace-builds/src-min-noconflict/mode-java.js
!assets/libs/ace-builds/src-min-noconflict/mode-lisp.js
!assets/libs/ace-builds/src-min-noconflict/mode-python.js
!assets/libs/ace-builds/src-min-noconflict/theme-*.js
assets/libs/bootstrap/*
!assets/libs/bootstrap/dist/css/bootstrap.min.css
!assets/libs/bootstrap/dist/js/bootstrap.min.js
assets/libs/font-awesome/*
!assets/libs/font-awesome/fonts/
!assets/libs/font-awesome/css/font-awesome.min.css
assets/libs/jquery/*
!assets/libs/jquery/dist/jquery.min.js
assets/libs/underscore/*
!assets/libs/underscore/underscore-min.js

_site
_includes/sources/c/a.out
_includes/sources/erlang/*.beam
_includes/sources/erlang/*.dump
_includes/sources/java/*.class
_includes/sources/python/*.pyc
.idea
srsa.conf
yarn-error.log
