<div class="modal" tabindex="-1" id="settings-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Settings</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" id="settings-engine-tab" data-toggle="tab" role="tab" href="#settings-engine">Engine</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="settings-editor-tab" data-toggle="tab" role="tab" href="#settings-editor">Editor</a>
          </li>
        </ul>
        <div class="tab-content">

          <div id="settings-engine" class="tab-pane fade show active">
            <label for="settings-glot-io-token" class="control-label"><a href="https://glot.io/">glot.io</a> API Token:</label>
            <input type="string" id="settings-glot-io-token" class="form-control">
            <label for="settings-cors-anywhere-url" class="control-label"><a href="https://cors-anywhere.herokuapp.com/">CORS Anywhere</a> URL:</label>
            <input type="string" id="settings-cors-anywhere-url" class="form-control">
          </div>

          <div id="settings-editor" class="tab-pane fade">
            <label for="settings-editor-font-size" class="control-label">Font Size:</label>
            <input type="number" id="settings-editor-font-size" class="form-control" min="5" max="50" value="15">
            <label for="settings-editor-themes" class="control-label">Theme:</label>
            <select id="settings-editor-themes" class="form-control">
            </select>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button id="settings-save-btn" type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
  <script src="{{ "/assets/js/settings-modal.js" | relative_url }}"></script>
</div>
