<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/libs/bootstrap/dist/css/bootstrap.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/libs/font-awesome/css/font-awesome.min.css" | relative_url }}">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include html/page-header.html %}
    <div class="container">
      {{ content }}
    </div>
    <div class="container">
      {% include html/page-footer.html %}
    </div>
    {% include html/settings-modal.html %}
  </body>
</html>
