<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/libs/bootstrap/dist/css/bootstrap.min.css" | relative_url }}">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Repetition System for Algorithms</a>
    </nav>
    <div class="container">
      {{ content }}
      <hr>
      <p>Powered by <a href="https://glot.io/">glot.io</a></p>
    </div>
    <script src="{{ "/assets/libs/jquery/dist/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/libs/bootstrap/dist/js/bootstrap.min.js" | relative_url }}"></script>
  </body>
</html>
