<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/libs/bootstrap/dist/css/bootstrap.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/libs/font-awesome/css/font-awesome.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/editor.css" | relative_url }}">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include html/page-header.html settings=true %}
    <div class="container">
      <br>
      {{ page.question_text }}
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" id="question-tab" data-toggle="tab" role="tab" href="#question">Question</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="solution-tab" data-toggle="tab" role="tab" href="#solution">Solution</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="question" class="tab-pane fade show active">
          <div id="question-editor" class="editor"></div>
        </div>
        <div id="solution" class="tab-pane fade">
          <div id="solution-editor" class="editor"></div>
        </div>
      </div>
      <br>
      <button id="btn-run" class="btn btn-primary">Run</button>
      <br>
      <br>
      <ul id="res-info" class="list-group">
        <li class="list-group-item list-group-item-info">Info</li>
        <li class="list-group-item"><pre id="res-info-msg"></pre></li>
      </ul>

      <ul id="res-stdout" class="list-group">
        <li class="list-group-item list-group-item-info">Stdout</li>
        <li class="list-group-item"><pre id="res-stdout-msg"></pre></li>
      </ul>

      <ul id="res-stderr" class="list-group">
        <li class="list-group-item list-group-item-warning">Stderr</li>
        <li class="list-group-item"><pre id ="res-stderr-msg"></pre></li>
      </ul>

      <ul id="res-error" class="list-group">
        <li class="list-group-item list-group-item-danger">Error</li>
        <li class="list-group-item"><pre id="res-error-msg"></pre></li>
      </ul>

      {% include html/common-js.html %}
      <script src="{{ "/assets/libs/ace-builds/src-min-noconflict/ace.js" | relative_url }}"></script>
      <script src="{{ "/assets/libs/ace-builds/src-min-noconflict/ext-language_tools.js" | relative_url }}"></script>
      <script src="{{ "/assets/libs/ace-builds/src-min-noconflict/ext-themelist.js" | relative_url }}"></script>
      <script src="{{ "/assets/js/editor.js" | relative_url }}"></script>
      <script src="{{ "/assets/js/error-parser.js" | relative_url }}"></script>
      <script>
       fix_relative_srcs();
       infoOff();
       stdoutOff();
       stderrOff();
       errorOff();

       var solution_raw = `{% include {{ page.solution_file }} %}`;

       var lang2mode = {
           "c"  : "c_cpp",
           "c++": "c_cpp",
       };
       var mode = lang2mode["{{ page.language }}"] || "{{ page.language }}";

       var fontSize = Storage.getEditorFontSize();
       var theme = Storage.getEditorTheme();
       var qEditor = new Editor("question", "question-editor", solution_raw, mode);
       qEditor.setFontSize(fontSize);
       qEditor.setTheme(theme);
       var sEditor = new Editor("solution", "solution-editor", solution_raw, mode);
       sEditor.setFontSize(fontSize);
       sEditor.setTheme(theme);

       Storage.onEditorFontSizeChange(function () {
           var fontSize = Storage.getEditorFontSize();
           qEditor.setFontSize(fontSize);
           sEditor.setFontSize(fontSize);
       });
       Storage.onEditorThemeChange(function () {
           var theme = Storage.getEditorTheme();
           qEditor.setTheme(theme);
           sEditor.setTheme(theme);
       });

       function infoOn(msg) {
           $("#res-info").show();
           $("#res-info-msg").text(msg);
       }

       function infoOff() {
           $("#res-info").hide();
       }

       function stdoutOn(msg) {
           $("#res-stdout").show();
           $("#res-stdout-msg").text(msg);
       }

       function stdoutOff() {
           $("#res-stdout").hide();
       }

       function stderrOn(msg) {
           $("#res-stderr").show();
           $("#res-stderr-msg").text(msg);
       }

       function stderrOff() {
           $("#res-stderr").hide();
       }

       function errorOn(msg) {
           $("#res-error").show();
           $("#res-error-msg").text(msg);
       }

       function errorOff() {
           $("#res-error").hide();
       }

       $("#btn-run").click(function () {
           var editor = $("#question-tab").hasClass("active") ? qEditor : sEditor;
           var solution_file = "{{ page.solution_file | split: '/' | last }}";
           editor.clearAnnotations();
           $.ajax({
               // run.glot.io doesn't support cors
               // workaround through https://cors-anywhere.herokuapp.com/
               url: "https://cors-anywhere.herokuapp.com/https://run.glot.io/languages/{{ page.language }}/{{ page.version | default:'latest' }}",
               type: "POST",
               headers: {
                   "Authorization": "Token " + Storage.getGlotIOToken(),
                   "Content-Type": "application/json"
               },
               data: JSON.stringify({
                   files: [
                       {name: solution_file,
                        content: editor.getText()},
                       {% for file in page.library_files %}
                       {name: "{{ file | split: '/' | last }}",
                        content: `{% include {{ file }} %}`},
                       {% endfor %}

                   ],
                   command: `{{ page.command }}`
               })
           }).done(function (data) {
               infoOff();
               if (data) {
                   console.log(data);
                   if (data.stdout) {
                       stdoutOn(data.stdout);
                   }
                   if (data.stderr) {
                       stderrOn(data.stderr);
                   }
                   if (data.error) {
                       editor.setAnnotations(
                           ErrorParser.parse(
                               "{{ page.language }}",
                               solution_file,
                               data.stdout,
                               data.stderr));
                       errorOn(data.error);
                   }
               } else {
                   errorOn("Empty response from server");
               }
           }).fail(function (xhr) {
               infoOff();
               var err = xhr.responseJSON;
               if (err) {
                   console.log(err);
                   if (err.message) {
                       errorOn(err.message);
                   } else {
                       errorOn("Unknown response from server. See log");
                   }
               } else {
                   console.log(xhr);
                   errorOn("Unknown response from server. See log");
               }
           });
           infoOn("Running...");
           stdoutOff();
           stderrOff();
           errorOff();
       });
      </script>
    </div>
    <div class="container">
      {% include html/page-footer.html %}
    </div>
    {% include html/settings-modal.html %}
  </body>
</html>
